            	<div class="tweet">
	            	<img class = 'tweetbox img'>
	            	<div class = 'tweettext'>
									<h4><a href="/users/<%= tweet.name %>"><%= tweet.name %></a> </h4>
										<%= tweet.text %><br>
									<a href="http://google.com">Re-tweet</a>
								</div>
							</div>